
@{
    ViewBag.Title = "CreateCourse";
    Layout = "~/Views/Shared/AccessHome.cshtml";
}

<div class="jumbotron" style="min-height:400px;">
    <h2>CreateCourse</h2>

    <div class="form-group row" style="margin-left:1px;">
        <label for="example-text-input" class="col-2 col-form-label">Course Name</label>
        <div class="col-6">
            <input class="form-control" type="text" value="" id="example-text-input">
        </div>
    </div>

    <div class="form-group row" style="margin-left:1px;">
        <label for="example-text-input" class="col-2 col-form-label">Course ID</label>
        <div class="col-6">
            <input class="form-control" type="text" value="" id="example-text-input">
        </div>
    </div>

    <input class="btn btn-primary" type="submit" value="Submit">


</div>

