
@{
    ViewBag.Title = "Index";
}

<body style="background-image: url('../../Images/background.jpg');">
<div style="margin-left:440px;margin-top:15%; min-height:400px;">
 
    <div class="label label-default" style="padding:30px 30px; background-color:#191919; font-size:50px;">Are You </div>

    <div style="margin-top:50px; margin-left:4px;">
        <span style="margin-right:10px;"><a href="~/LoginT/Index" class="btn btn-info" role="button" style="font-size:25px;background-color:whitesmoke;color:black;">Teacher</a></span>
        <a href="~/Login/Index" class="btn btn-info"  role="button" style="font-size:25px; background-color:whitesmoke;color:black;">Student</a>
    </div>

</div>
</body>